ion-item {
  --background: none;
  --border-radius: 0.75rem;
  --min-height: 200px;
  --color: #aaa;
  --border-width: 2px;

  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  position: relative;

  &.image-cont {
    --border-color: var(--ion-color-primary);
    --border-style: solid;
    --border-width: 1px;

    --inner-padding-end: 0px;
    --padding-start: 0px;
  }

  &.dashed-cont {
    --border-color: #aaa;
    --border-style: dashed;
  }

  .preview-image {
    width: 100%;
    height: 100%;
    max-height: 200px;
    object-fit: cover;
  }

  ion-icon {
    font-size: 3rem;
  }
}
