:root {
  --ion-color-primary: #a82ee5;
  --ion-color-primary-rgb: 168, 46, 229;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #9428ca;
  --ion-color-primary-tint: #b143e8;

  --ion-color-success: #5cb85c;
  --ion-color-success-rgb: 92, 184, 92;
  --ion-color-success-contrast: #000000;
  --ion-color-success-contrast-rgb: 0, 0, 0;
  --ion-color-success-shade: #51a251;
  --ion-color-success-tint: #6cbf6c;

  --ion-color-warning: #ffc107;
  --ion-color-warning-rgb: 255, 193, 7;
  --ion-color-warning-contrast: #000000;
  --ion-color-warning-contrast-rgb: 0, 0, 0;
  --ion-color-warning-shade: #e0aa06;
  --ion-color-warning-tint: #ffc720;

  --ion-color-danger: #dc3545;
  --ion-color-danger-rgb: 220, 53, 69;
  --ion-color-danger-contrast: #000000;
  --ion-color-danger-contrast-rgb: 0, 0, 0;
  --ion-color-danger-shade: #c22f3d;
  --ion-color-danger-tint: #e04958;

  --ion-color-gray: #969696;
}
