<ion-toolbar class="">
  <ion-title>Change avatar</ion-title>
  <ion-buttons slot="start" class="ion-padding">
    <ion-back-button default-href="#" text=""></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="ion-padding-horizontal">
  @if (loading) {
  <div class="avatar-container">
    <ion-skeleton-text [animated]="true" class="avatar-skeleton" />
  </div>
  <ion-row class="ion-align-items-center ion-justify-content-center mt-3">
    <ion-skeleton-text [animated]="true" style="width: 45%; height: 26px" />
  </ion-row>
  <ion-list class="avatars-list">
    <div
      *ngFor="let avatar of [0, 1, 2, 3, 4]"
      class="ion-padding-horizontal"
      style="margin: 0.5rem"
    >
      <ion-skeleton-text class="icon-option" [animated]="true" />
    </div>
  </ion-list>
  } @else {
  <div class="avatar-container">
    <img [src]="selectedAvatarUrl || user?.avatarUrl" class="avatar-img" />
  </div>

  <ion-row class="ion-align-items-center ion-justify-content-center mt-3">
    <h3>Select an avatar</h3>
  </ion-row>
  <ion-list class="avatars-list">
    <ion-item
      *ngFor="let avatar of avatars"
      (click)="selectAvatar(avatar.url)"
      lines="none"
    >
      <img
        [src]="avatar.url"
        class="icon-option"
        [ngClass]="avatar.url === this.selectedAvatarUrl ? 'selected-avatar' : 'unselected-avatar'"
      />
    </ion-item>
  </ion-list>

  <ion-button
    expand="block"
    (click)="saveAvatar()"
    class="ion-margin-horizontal mt-5"
    >Save</ion-button
  >
  }
</ion-content>
