.icon {
  padding: 1rem;
  border-radius: 50%;
  height: 100px;
  width: 100px;
  background-color: var(--ion-color-primary);
}

.container {
  display: flex;
  flex-direction: column;
  height: 90%;
  justify-content: space-between;

  ion-img {
    margin-top: 8rem;
    margin-bottom: 4rem;
  }
}

.forgot-pass-btn {
  position: absolute;
  bottom: 1rem;
}
