<ion-content>
  <div class="container ion-align-items-center">
    <form class="login" [formGroup]="form">
      <!-- <img class="logo mb-8" src="../../../assets/img/cinema-logo.png" alt="logo"> -->
      <div class="d-flex ion-justify-content-center">
        <ion-img
          class="icon ion-justify-content-center"
          src="https://docs-demo.ionic.io/assets/madison.jpg"
          alt="The Wisconsin State Capitol building in Madison, WI at night"
        ></ion-img>
      </div>

      <ion-input
        formControlName="email"
        fill="outline"
        placeholder="Email"
        shape="round"
        mode="md"
      />
      <div class="error-message" *ngIf="form.controls['email'].touched && form.controls['email'].invalid">
        <ion-text color="danger" *ngIf="form.controls['email'].errors?.['required']"
          >Email is required</ion-text
        >
        <ion-text
          color="danger"
          *ngIf="form.controls['email'].errors?.['email']"
          >Please enter a valid email</ion-text
        >
      </div>

      <ion-input
        formControlName="password"
        fill="outline"
        placeholder="Password"
        shape="round"
        type="password"
        mode="md"
        class="mt-3"
      >
        <ion-input-password-toggle
          slot="end"
          color="light"
        ></ion-input-password-toggle>
      </ion-input>
      <div
        class="error-message"
        *ngIf="form.controls['password'].touched && form.controls['password'].errors?.['required']"
      >
        <ion-text color="danger">Password is required</ion-text>
      </div>

      <!-- <div class="mt-4 ion-align-items-center"> -->
      <ion-button
        class="btn-block mt-4"
        shape="round"
        color="primary"
        (click)="login()"
      >
        Login
      </ion-button>

      <ion-button
        class="btn-block"
        fill="clear"
        (click)="redirectToCreateAccount()"
      >
        New here? Create an account
      </ion-button>
      <!-- </div> -->
    </form>

    <ion-button fill="clear" id="open-modal">Forgot password?</ion-button>
  </div>
</ion-content>
