<ion-toolbar class="">
  <ion-buttons slot="start" class="ion-padding">
    <ion-back-button default-href="login" text=""></ion-back-button>
  </ion-buttons>
</ion-toolbar>

<ion-content class="ion-padding-horizontal">
  <ion-header collapse="condense">
    <ion-title size="large" class="mt-3">Password recovery</ion-title>
  </ion-header>
  <div class="ion-padding-horizontal mt-2">
    <ion-text class="desc-text subtitle" color="medium"
      >Always keep your account secure and don't forger to update it</ion-text
    >
  </div>

  <form class="form-container ion-padding mt-4" [formGroup]="form">
    <div>
      <ion-input
        labelPlacement="floating"
        formControlName="email"
        fill="outline"
        placeholder="Enter your email"
        mode="md"
      >
        <div slot="label">Email <ion-text color="danger">*</ion-text></div>
      </ion-input>
      <div
        class="error-message"
        *ngIf="form.controls['email'].touched && form.controls['email'].invalid"
      >
        <ion-text
          color="danger"
          *ngIf="form.controls['email'].errors?.['required']"
          >Email is required</ion-text
        >
        <ion-text
          color="danger"
          *ngIf="form.controls['email'].errors?.['email']"
          >Please enter a valid email</ion-text
        >
      </div>
    </div>
    <div>
      <ion-button
        class="btn-block mt-4"
        shape="round"
        color="primary"
        (click)="recover()"
        [disabled]="form.invalid"
      >
        Submit
      </ion-button>
    </div>
  </form>
</ion-content>
